.overlay-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba (0,0,0,.8);
    z-index: 10;
}

.nav-site {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: var(--color-1);
    top: 0;
    left: 0;
    z-index: 11;
}

.nav-site .content{
    padding: 15px 30px;
}

.nav-site .content .box-login{
    display: flex;
    align-items: center;
    justify-content: flex-start;   
}

.nav-site .content .box-login .bi{
     font-size: var(--tit-xl);
     color: var(--sty-7);
     margin-right: 25px;
}

.nav-site .content .box-login .a{
    display: block;
    color: var(--sty-6);
}

.nav-site .content .box-login .a:first-child{
    font-size: var(--tit-sm);
    font-weight: bold;
    color: var(--sty-5);
}